body{
	font-family:helvetica, sans-serif;
	width:500px;
	margin: 0 auto;
	background:black;
	text-align:center;
	
}

#cat {
	width:500px;
	height:500px;
	background:red;
	position: absolute;
}

#gallery {
	width:500px;
	height:500px;
	background:purple;
	color:white;
	position: absolute;
}

ul.slideshow {
	margin:0px;
	padding:0px;
}

ul.slideshow li {
	margin:0px;
	padding:0px;
	list-style:none;
	width:200px;
	height:200px;
	background:#00f7ff;
	position: absolute;
}

.next_slide:hover {
	cursor: pointer;
}
#slide1 {
	width:500px;
	height:200px;
	background:#00f7ff;
	position: absolute;
	top:500px;
}

#next1 {
	position: absolute;
	top:100px;
	left:200px;
}

#slide2 {
	width:500px;
	height:200px;
	background:#de00ff;
	position: absolute;
	top:500px;
}

#slide3 {
	width:500px;
	height:200px;
	background:#fff000;
	position: absolute;
	top:500px;
}


#next2 {
	position:absolute;
	left:100px;
	top:180px;
}

#prev2 {
	position:absolute;
	left:10px;
	top:180px;
}

#prev3 {
	position:absolute;
	left:10px;
	top:180px;
}