akrghldkghjaldsfkjah

<div id="slide1">
	This is slide 1.
	<div id="next1">
		This is the next button for slide 1.
	</div>
</div>

<div id="slide2">
	This is slide 2.
	<div id="next2">
		This is the next button for slide 2.
	</div>
	<div id="prev2">
		This is the previous button for slide 2.
	</div>
</div>

<div id="slide3">
	This is slide 3.
	<div id="prev3">
		This is the previous button for slide 3.
	</div>
</div>
