<ul class="slideshow">

	<li id="slide1">
		<div id="next1" class="next_slide">
			<%= image_tag "draw_me.png" %>
		</div>
	</li>

	<li id="slide2">
		<%= render :partial => "home/slide2"%>
	</li>

	<li id="slide3">
			Paypal login? However that works.
		<div id="prev3" class="next_slide">
			<%= image_tag "back.png" %>
		</div>
		<div id="next3">
			<%= render :partial => "orders/paypal_button" %>
		</div>
	</li>

</ul>